[Unit]
Description=ZeroTrust VLAN provisioning
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c '/run/media/fahad-mustafa/Local\x20Disk/Zero_Trust_IOT_Devices/scripts/create_vlans.sh --apply'
ExecStartPost=/bin/bash -c '/run/media/fahad-mustafa/Local\x20Disk/Zero_Trust_IOT_Devices/scripts/generate_dnsmasq_conf.sh'

[Install]
WantedBy=multi-user.target
